<p id="notice"><%= notice %></p>

<h1>Hikers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Nationality</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hikers.each do |hiker| %>
      <tr>
        <td><%= hiker.name %></td>
        <td><%= hiker.image %></td>
        <td><%= hiker.nationality %></td>
        <td><%= hiker.age %></td>
        <td><%= link_to 'Show', hiker %></td>
        <td><%= link_to 'Edit', edit_hiker_path(hiker) %></td>
        <td><%= link_to 'Destroy', hiker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hiker', new_hiker_path %>
